.header {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--primeryColor);
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    > a {
    gap: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    &:hover{
       color: #00887A;
    }
    }
  }
}







@media screen and (max-width:1100px) {
  .content {
    > nav {
      gap: 10px;
      > a {
        gap: 3px;
        font-size: 0.75rem;
      }
    }
  }
}


@media screen and (max-width:1150px) {
  .content {
    > nav {
      gap: 10px;
      > a {
        gap: 3px;
        font-size: 0.75rem;
      }
    }
  }
}

.aside_button{
  display: none;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: white;

}


@media screen and (max-width:740px) {
  .aside_button{
    display:flex;
  }
  .content {
    > nav {
      display: none;
    }
  }
}
