.footer {
  width: 100%;
  background-color: var(--primeryColor);
  padding: 30px 0px;
}

.content {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



