

.link {
  color:var(--hoverGreenColor);
  border-radius: 20px;
  border:1px solid var(--hoverGreenColor);
  padding: 8px 15px;

  &:hover {
    border:1px solid white;
    color: white;
    background-color: var(--hoverGreenColor);
  }
}