.textarea {
  width: 100%;
  border: none;
  outline: none;
  border: 0.5px solid var(--borderColors);
  padding: 8px 15px;
  color: var(--primeryColor);
  font-size: 16px;
  border-radius: 15px;

   resize: none;

  &:focus {
    border-color:var(--hoverGreenColor);
    color: var(--hoverGreenColor);

  }
}