.button {
  width: 200px;
  padding: 8px 15px;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 15px;
  outline: none;
  border:0.5px solid var(--borderColors);
  color: var(--borderColors);
  cursor: pointer;
  &:hover {
    border:0.5px solid var(--hoverGreenColor);

    background-color: var(--hoverGreenColor);
    color: white;
  }
}