.main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 100px;
  flex-direction: column;

}

.content {
  display: flex;
  gap: 20px;
}

.left {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  gap: 40px;
  background-color: white;
  padding: 0px 20px;
  border-radius: 20px;
  > h1 {
    color: var(--primeryColor);
  }
  > p {
    text-align: center;
    font-size: 1.375rem;
    text-overflow: ellipsis;
  }
  > div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
}


.info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 100px 0px;
  > h1 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
  }
  &__content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    >  span {
      text-align: center;
      font-size: 24px;
    }
    > img {
      transform: rotate(90deg);
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px;
  gap: 40px;
  > h2 {
    text-align: center;
    width: 100%;
     font-weight: 600;
    font-size: 3rem;
  }
}

@media screen and (max-width:990px) {
  .main {
    padding-top: 50px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .right {
    padding: 50px 20px;
  }
}



@media screen and (max-width:520px) {
 .right {
  border-radius: 0px;
 }
}