:root {
  --primeryColor:#2D283E;
  --colorGreyLight:#F6F6F6;
  --borderColors:#CCCCCC;
  --hoverGreenColor:#00887A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {

  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--colorGreyLight);

}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin:  0 auto;
  width: 100%;

}

@media screen and (max-width:1300px) {
 .container {
  max-width: 1100px;
 }
}




@media screen and (max-width:1150px) {
 .container {
  max-width: 960px;
 }
}




@media screen and (max-width:990px) {
 .container {
  max-width: 840px;
 }
}

@media screen and (max-width:860px) {
 .container {
  max-width: 720px;
 }
}

@media screen and (max-width:740px) {
 .container {
  max-width: 640px;
  padding: 0px 20px;
 }
}



@media screen and (max-width:520px) {
 .container {
  max-width: 440px;
  padding: 0px 5px;
 }
}