.select_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  > span {
    margin-left: 10px;
    color: var(--primeryColor);
  }
}

.select {
  width: 100%;
  gap: 10px;
  border: none;
  outline: none;
  border: 0.5px solid var(--borderColors);
  box-sizing: border-box;
  padding: 8px 15px;
  color: var(--primeryColor);
  font-size: 1rem;
  border-radius: 15px;
  gap: 10px;
  appearance: none;
  &:focus {

    .option {
      margin-top: 20px;
      border-radius: 20px;
      padding-right: 20px;

    }
  }
}




