.a {
  box-sizing: border-box;
  width: min-content;
  text-align: center;
  white-space: nowrap;

  padding: 12px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: #00887A;
  color: white;
  &:hover {
      border-color: #00887A;
  }
}