.wrapper {
  width: 100%;
  background-color: var( --primeryColor);
  padding: 50px 0px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  gap: 20px;
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    flex: 1;
    > h2 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
    > address {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      > a {
        display: flex;
        align-items: center;
        gap: 20px;
        white-space: nowrap;
        font-size: 1.7rem;

      }
    }
  }



  &_map {

    width: 100%;
    flex: 1;
    > iframe {
      object-fit: cover;
      border-radius: 20px;
      height: 450px;
      width: 100%;
      border: none;
    }
  }
}


@media screen and (max-width:990px) {
.contacts {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 40px;
      padding: 0px;
      &_info {
        width: 100%;
        gap: 20px;
        padding-bottom: 40px;
        > address {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 10px;
          > a {
            width: 100%;
            justify-content: center;
            gap: 10px;
            white-space: nowrap;
            font-size: 1.4rem;
            > image {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      &_map {
        max-width: unset ;
        width: 100%;
        > iframe {
          height: 350px;
          border-radius: 20px 20px 0px 0px;
        }
      }
    }
}


@media screen and (max-width:520px) {
  .contacts {
    border-radius: 0px;
  }
}