.main {
  box-sizing: border-box;
  padding: 50px 0px;
  padding-bottom: 100px;
  height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 20px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  gap: 40px;
  &__place {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end ;
    gap: 10px;
  }
    &__sizes {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end ;
    gap: 10px;
  }
}